body {
    font:14px arial;
    color: #222;
    text-align:center;
    padding:35px;
	background-image:url(back.gif);
	background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#9c27b0;
	font-weight:bold;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; 
	}
  
#wrapper, #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #EBF4FB;
    width: 30%;
    border: 3px solid #00BCD4;
    border-radius: 15px;
    color: #00BCD4;
	}
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:20px;
    background:#fff;
    height:350px;
    width:90%;
    border:1px solid #00BCD4;
    overflow:auto; 
	
	}
#message{
        position: absolute;
       top: 550px;
    }
#msg {
    width: 70%;
    border: 3px solid #00BCD4;
    padding: 10px;
    border-radius: 15px;
    color: #9c27b0;
    font-size: 14px;
    font-weight: bold;
    }
#submit{
    width: 60px;
  }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; color: #9c27b0; }
  
.logout { float:right; color: #9c27b0; }
  
.msgln { margin:0 0 2px 0; }

.delete{
    float: right;
    font-size: 12px;
}
.login {
height:110px;
width:190px;
margin:auto;
padding:10px;
}
.login input {
width: 70%;
    border: 3px solid #00BCD4;
    padding: 10px;
    border-radius: 15px;
    color: #9c27b0;
    font-size: 14px;
    font-weight: bold;
}
